/* Custom Stylesheet */

#page-header {
  background-size: 100%;
  background-repeat: no-repeat;
  text-align: center;
}

#page-header-divider {
  height: 5px;
}

#logo {
  display: inline-block;
  margin: 7vw 0;
} 

#logo img {
  height: 7vw;
}

#btn-side-nav {
  top: -10px;
  left: 5px;
  right: unset;
  bottom: unset;
}

@media (min-width: 768px) {
  #btn-side-nav {
    top: 0;
    left: 15px;
  }
}

#slide-out i {
  font-size: 24px;
}

i.char-icon {
  vertical-align:text-bottom; 
  font-weight:bold;
  font-style:normal;
  padding-left: 5px;
  width: 24px;
}

#page-footer {
  padding: 2vw;
}

.post-list-item-cover {
  height: 200px;
  display: block;
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
}

.post-content p {
  text-align: justify;
  line-height: 2rem;
}

.post-content img {
  width: 100%;
  height: auto;
}

.post-content li {
  margin-bottom: 10px;
}

.post-content .categories {
  font-weight: bold;
}

.post-content .tags {
  text-align: center;
}

.post-content .tags .btn {
  margin: 4px;
}

.mdi-action-hashtag {
  margin-top: -2px;
  display: block;
  width: 1em;
  text-align: center;
}

.mdi-action-hashtag::before {
  content: '#';
  font-weight: bold;
  font-weight: 900;
}

.adsbygoogle {
  margin-top: 14px;
}